
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@media (max-width: 900px) {
    .container{
        flex-direction: column;
    }
}
:root {
    font-family: 'Noto Sans KR', sans-serif;

    --dark-color: hsl(0, 0%, 0%);
    --dark-color-transparent: hsla(0, 0%, 0%, 70%);
    --middle-color: hsl(0, 0%, 12%);
    --light-color: hsl(0, 0%, 86%);
    --accent-color: hsl(142, 37%, 44%);
    --red-color: hsl(355, 92%, 60%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: clip;
    position: relative;
}





/* LEFT SIDE */

.left-image {
    min-height: 100vh;
    flex: 1 1 40%;
    background: url(./images/DSC01624.jpg) no-repeat border-box;
    background-position: right 60% top 60%;
    background-size: cover;
    position: relative;
}

.icon-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15vh;
    background-color: var(--dark-color-transparent, black);
    box-shadow: 0 0 15px 25px var(--dark-color-transparent, black);
}

.icon svg {
    height: 5rem;
    width: fit-content;
    margin-top: 25%;
    padding: 0 1rem;
}

svg * {
    fill: var(--light-color, lightgrey);
}

.text-logo {
    padding: 0 1rem .3rem 0;
    font-family: 'Unica One', monospace;
    font-size: 4rem;
    color: var(--light-color, lightgrey);
}






/* RIGHT SIDE */

/* TOP */
.right-panel {
    flex: 1 1 60%;
    min-height: 100vh;
    box-shadow: -5px 0 15px 5px var(--dark-color, black);
    background-color: var(--dark-color, black);
    font-size: clamp(18px, 3vmin, 22px);
}

.top-panel,
.form-panel,
.submit-panel {
    position: relative;
    z-index: 1;
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px 2px var(--dark-color, black);
}

.top-panel{
    padding-top: 15px;
}

p {
    max-width: clamp(45ex, 50vw, 60ex);
    color: var(--light-color, lightgrey);
}




/* FORM */
.form-panel {
    background-color: var(--middle-color, darkSlateGrey);
    z-index: 0;
    box-shadow: none;
    color: var(--light-color, lightgrey);
}

.form-panel > p {
    color: var(--accent-color, lightgreen);
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -15px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}

.input {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

input {
    color: var(--light-color, lightgrey);
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: .2rem;
    width: max(250px, 20vw );
    border-radius: 5px;
    border: 1px solid var(--dark-color, black);
    background-color: var(--middle-color, darkSlateGrey);
}

input:focus {
    outline: none;
    box-shadow: -1px 2px 5px 0px var(--dark-color, black);
}


/* To avoid white bg and black font when using the browser's autofill*/
input:-webkit-autofill {
    box-shadow: inset 0 0 0 50px var(--middle-color);
    -webkit-text-fill-color: var(--light-color, lightgrey) !important;
}



/* REQUIRED */
label {
    position: relative;
    left: 5px;
}

.required::after {
    content: "*";
    color: var(--accent-color, lightgreen);
    position: absolute;
    left: -10px;
    top: -3px;
    font-size: 1.2em;
}

input:required:valid {
    border: 1px solid var(--accent-color, lightgreen);
}

input:not(:placeholder-shown):not(:focus):invalid {
    border: 1px solid var(--red-color, red);
}





/* SUBMIT */
.submit-panel .log-in {
    font-size: 14px;
    color: var(--light-color, lightgrey);
    margin-top: -15px;
}

a {
    text-decoration: none;
    color: var(--accent-color, lightgreen);
    margin: 5px;
}

.submit-panel > button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: var(--accent-color, lightgreen);
    padding: 10px 15px;
    margin-bottom: 30px;
    background-color: var(--dark-color, black);
    border-radius: 8px;
    border: 2px solid var(--accent-color, lightgreen);
    outline: 2px solid var(--accent-color, lightgreen);
    outline-offset: -2px;
    transition: outline-offset 150ms ease, outline-width 150ms ease;
    
}
.submit-panel {
    padding-bottom: 0;
}

.footer {
    font-size: 14px;
    color: var(--light-color, lightgrey);
    margin-top: 20px;
}



/* MOVEMENT */
button:hover,
button:focus {
    outline-offset: -6px;
    outline-width: 1px;
}

button:active {
    background-color: var(--accent-color, lightgreen);
    color: var(--dark-color, black);

}

a:hover,
a:focus {
    font-weight: bold;
    filter: brightness(115%);
}





/* FOOTER */

.credits {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 113px/2);
    color: var(--light-color, lightgrey);
    font-size: .8rem;
}

